@tailwind base;
@tailwind components;
@tailwind utilities;

body,html{
  background-color: #040513;
  height: 100%;
  width: 100%;
}

body{background-color:rgb(0,0,0);background-image:url(http://www.zingerbugimages.com/backgrounds/starry_sky_glitter_background_seamless.gif);background-position:top left;background-repeat:repeat;background-attachment:fixed;}
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}