@tailwind base;
@tailwind components;
@tailwind utilities;

body,html{
  background-color: #040513;
  height: 100%;
  width: 100%;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}